/* MENU DE NAVEGACIÓN */
.navbar{
    background-color: #3e444a;
}
.navbar .navbar-brand img{
    max-width: 120px;
}
/* SECCION BIENVENIDA */
.seccion-bienvenida{
    min-height: 80vh;
    background: url(../img/ba1.jpg) rgba(0, 0, 0, 0.459);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center center;
}
.seccion-bienvenida .container{
    min-height: 80vh;
    display: flex;
    align-items: flex-end;
}
.seccion-bienvenida .container .row{
    margin-bottom: 8rem;
}

/* SECCION PAISAJE */
.seccion-paisaje .col-texto{
    background-color: #3e444a;
    border-left: 1px solid #fff;
}
/* SECCION FORM */
.seccion-formulario .texto-punteado{
    border-bottom: 1px dotted #000;
}
.seccion-formulario .btn-enviar{
    display: block;
    background: #8bc34a;
    width: 100%;
    color: #fff;
    margin-top: 1rem;
}
/* PIE DE PAGINA  */
footer{
    background-color: #204564;
}
footer ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer ul li{
    padding: .5rem;
    text-align: center;
}
footer ul li a{
    color: #fff;
    text-decoration: none;

}

/* ESTILOS PAGINA TICKETS */
.seccion-tickets{
    padding: 2rem;
}
.seccion-tickets .fila-tarjetas{
    max-width: 800px;
    margin: auto;
    flex-wrap: nowrap;
}
.seccion-tickets .fila-tarjetas .tarjeta{
    text-align: center;
    padding: 1rem;
    margin: 0 8px;
}
.seccion-tickets .fila-tarjetas .estudiante{
    border: 1px solid #0487f3;
}
.seccion-tickets .fila-tarjetas .trainee{
    border: 1px solid #048872;
}
.seccion-tickets .fila-tarjetas .junior{
    border: 1px solid #ffd904;
}
.seccion-tickets .fila-formulario{
    max-width: 800px;
    margin: auto;
}
.seccion-tickets .fila-formulario .form-control{
    margin: .5rem 0;
}
.seccion-tickets .fila-formulario .total p{
    background-color: #0487f38e;
    padding: .5rem;
    border-radius: 5px;
    font-weight: bold;
    color: #00559b;
    margin: 1.5rem 0;
}
.seccion-tickets form button{
background-color: rgb(94, 176, 85);
color: white;
border: 0;
display: block;
width: 100%;
padding-bottom: 0.5rem;
padding-top: 0.5rem;
border-radius: 5px;

}